#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.board-game{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.turn{
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 5px;
  justify-content: space-around;
  padding-top: 10px;
}

.turn .square{
  border: none;
}